@font-face {
  font-family: Open-Sans-Light;
  src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: Open-Sans-Regular;
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Open-Sans-Italic;
  src: url('./assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Open-Sans-Bold;
  src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}