@use './colors' as *;
@use './fonts' as *;
@use './variables' as *;

// Media Queries
@mixin mobile {
  @media (max-width: $mobile_max_width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet_min_width) and (max-width: $tablet_max_width) {
    @content;
  }
}

// Typography
@mixin header-font {
  font-family: Open-Sans-Light;
  font-size: 60px;
}

@mixin subheader-font {
  font-family: Open-Sans-Light;
  font-size: 33px;
}

@mixin nav-link-font {
  font-family: Open-Sans-Regular;
  font-size: 21px;
}

@mixin paragraph-font {
  font-family: Open-Sans-Regular;
  font-size: 18px;
}

@mixin paragraph-italic-font {
  font-family: Open-Sans-Italic;
  font-size: 18px;
}

@mixin paragraph-bold-font {
  font-family: Open-Sans-Bold;
  font-size: 33px;
}

@mixin discount-regular-font {
  font-family: Open-Sans-Regular;
  font-size: 45px;
}

@mixin discount-bold-font {
  font-family: Open-Sans-Bold;
  font-size: 45px;
}

@mixin footer-bold-font {
  font-family: Open-Sans-Bold;
  font-size: 18px;
}

// Components
@mixin buttons {
  background-color: $Nitro-Blue;
  cursor: pointer;
  width: 10.75rem;
  height: 3.5rem;

  border: none;
  position: relative;
  left: 0.625rem;
}

@mixin button-frames {
  @include nav-link-font;
  color: $White;

  position: relative;
  top: -0.5rem;
  left: -0.75rem;

  width: 8.75rem;
  padding: 0.8rem 0.9rem;
  border: $button-offset-border;
}