@use './colors' as *;

// Responsive Design Parameters
$mobile_max_width: 767px;
$tablet_min_width: 768px;
$tablet_max_width: 1279px;

$offset-border: 5px solid $Nitro-Blue;
$button-offset-border: 2px solid $Graphite;

$button-animation: translate(0.4rem, 0.4rem);